.App{
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.gnb{
    width: var(--base-width);
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
.mainMenu{
    display: flex;
    gap: 1rem;
}
.userMenu{
    display: flex;
    gap: 1rem;
}