body{
    margin: 0; padding: 0;
    background: #0e1111;
}
#root{
    /* border: 1px solid red; */
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
#card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

    perspective: 300px;
}
.card{
    width: 300px;
    height: 400px;
    overflow: hidden;
    user-select: none;
    background-color: #fff;
    transition: all .3s ease-in-out;
}
.card img{
    width: 100%;
    height: 80%;
    background-color: #fff;
}
.card-text{
    background-color: #fff;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
.job{
    color: red;
}
.card:nth-child(1){
    transform: rotateY(40deg);
    width: 200px;
    height: 300px;
    z-index: 1;
}
.card:nth-child(2){
    transform: rotateY(20deg);
    width: 250px;
    height: 350px;
    z-index: 2;
}
.card:nth-child(3){
    transform: rotateY(0deg);
    z-index: 3;
}
.card:nth-child(4){
    transform: rotateY(-20deg);
    width: 250px;
    height: 350px;
    z-index: 2;
}
.card:nth-child(5){
    transform: rotateY(-40deg);
    width: 200px;
    height: 300px;
    z-index: 1;
}
.c-btn{
    all: unset;
    width: 100px; height: 50px;
    border: 2px solid wheat;
    border-radius: 10px;
    color: wheat;
    text-align: center;
    cursor: pointer;
    margin-right: 20px;
    user-select: none;
}