.container{
    border: 3px solid #333;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
}
.container .item{
    background-color: orange;
    margin: .1rem;
    border: 1px solid #333;
}
.item:nth-child(5){
    z-index: 1;
    transform: scale(1.3);
}
