.Card-container{
    cursor: pointer;
    transition: .5s linear;
    box-shadow: 0 .1rem .3rem lightgray;
}
.Card-contents{
    height: 100%;
}
.Card-contents.outlined{
    border: 1px solid lightblue;
    box-shadow: initial;
}