body{
    margin: 0; padding: 0;
    background: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=pexels-pixabay-531880.jpg&fm=jpg);
    background-repeat: repeat-y;
    height: 300vh;
    scroll-behavior: smooth;
    background-size: contain;
  }
#body-dark{
    width: 100%;
    height: 300vh;
    position: absolute;
    background: rgba(0,0,0, .6);
    opacity: 0;
    transition: .5s;
}
.notice-box{
    /* border: 1px solid red; */
    width: 450px;
    height: 350px;
    padding: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    opacity: 0;
    transition: .5s;
}
.notice-box>h2{
    text-align: center;
    margin: 0;
}
.notice-box>p{
    flex: 2;
    padding: 20px 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
#btns{
    margin-left: auto;
}