body{
    margin: 0;
    padding: 0;
}
#root{
    width: 60%;
    margin: 100px auto;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 27px;
}