.popularityDestinationCard{
    width: 18%;
    display: flex;
    flex-flow: column;
    gap: .5rem;
    /* border: 1px solid gray; */
    /* padding: .5rem; */
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}
.popularityDestinationCard img{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    height: 300px;
    box-sizing: border-box;
    /* object-fit: cover; */
}
.detailsBtn{
    width: fit-content;
    color: white;
    text-decoration-line: none;
    /* border: 1px solid red; */
    border-radius: 5px;
    padding: .2rem .4rem;
    transition: .2s;
    background-color: #FF6F61;
    font-weight: normal;
}
.detailsBtn:visited{
    color: white;
    text-decoration: none;
}
.detailsBtn:link{ 
    color: white;
    text-decoration: none;
}
.detailsBtn:visited{
    color: white;
    text-decoration: none;
}
.detailsBtn:hover{
    color: white;
    text-decoration: none;
    background-color: #E65C53;
}
.detailsBtn:active{
    color: white;
    text-decoration: none;
}
.details{
    height: fit-content;
    padding: .5rem 1rem 1rem 1rem;
    display: flex;
    flex-flow: column;
    gap: .5rem;
    justify-content: space-between;
    flex: 1;
    font-weight: bold;
}
.text{
    display: flex;
    flex-flow: column;
    gap: .4rem;
}
.rating{
    display: flex;
    align-items: center;
    gap: .3rem;
}