.sidebar{
    width: 30%;
    height: 100vh;
    position: absolute;
    left: -30%;
    top: 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.7s ease-in-out;
}
.show{
    left: 0px;
}
.menu{
    width: 100%;
    flex: 1;
    background-color: peru;   
    font-size: 1.5rem; 

    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgoldenrodyellow;
    border-bottom: 1px solid lightgoldenrodyellow;
}
.menu:hover{
    color: peru;
    background-color: lightgoldenrodyellow;
}